
 .BG{
     position: relative;
     width: 100%;
     height: 150vh;
     background-size: cover;
     background-image: url("../images/background.png");
     background-repeat: no-repeat;
}

.name{
    position: absolute;
    left:20px;
    top:400px;
    width: 50%;
    
}
span.devise{
    font-size: 30px;
    color: white;
    text-decoration: underline;

}
span.description{
    font-size: 18px;
    color: white;
}
.logo{
    position:absolute;
    background-image: url("../images/logo.png");
    width: 10%;
    height: 57px;
    left:10px;
    top:20px;
}
// both index.html & ourservices.html
header{
    position: relative;
    padding: 0 2rem;
}
nav{
    background-color:white;
    width: 100%;
    height: 60%;
    margin: 0 auto;
}

ul{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}
.menu{
    background-color:orange;
    font-size: 18px;
}

ul li{
    display: block;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2px;
    margin-left: 16px;
    left: 300px;
}

a:hover{
    color:white;
}
.logo1{
    background-image: url("../images/logo.png");
    width: 10%;
    height: 57px;
    left:10px;
    top:0px;
    position: absolute;
}
// end
// only ourservices.html
.title{
    font-style:bold;
    font-size: 30px;
    top: 50px;

}
.title_img{
    background-image:url("../images/istockphoto-1091547286-612x612.jpg");
    width: 100%;
    height: 40%;
    height: 300px;
    background-size: contain;
    // top:

}
    

// GLOBALS

@import 'bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'Inter', sans-serif;
}


// sign up and login 
.sign-up, .log-in{
    width: 300px;
    min-height: 64vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    padding: 92px 8px;
    margin-top: 48px;
}

// SIGN UP
.sign-up {
    background-image: url(../images/signUp.png);
}


// LOGIN
.log-in {
    background-image: url(../images/logIn.png);
}
